$color:gray;
@import 'mixin';
@import 'reset';
@mixin img {
    width: 100%;
    height: 100%;
}
@mixin center {
   margin: 0 auto;
}
@mixin  float {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
@mixin flex {
    justify-content: center;
    align-items: center;
}

// 导航栏   
.header{
    width: 1200px;
    @include center();  
    height: 55px;
    background-color: #fcfcfc;
    .header_top{
        width: 1200px;
        height: 55px;  
        margin: 0 auto;
        background-color: #fcfcfc;
        .prc_logo{
        float: left;
        img{
             width: 55px;
             height: 55px;
        }
        p{  
            float: right;
            color: black;
            margin-left: 30px;
            line-height: 55px;
            i{  
                display: inline-block;
                width: 12px;
                height: 6px;
                background-image: url('../img/4.png');
                background-size: 100% 100%;
            }
        }
        p:hover{
            cursor:pointer;
        }
    }
    .nav{
        height: 49px;
        float: right;
        li{
              float: left;
              height: 49px; 
              margin: 20px;
              margin-top: 0;
             a{  
                color: black;
                font-size: 14px;
                line-height: 49px;
             }  
             a:hover{
                 color: green;
             } 
            
        }
        #login{
            position: relative;
            a:nth-child(1){
                width: 20px;
                height: 20px;
                border-left:1px solid black;
                position: absolute;
                padding-left: 5px;
                right: 28px;
                top:13px;
                img{
                    position: absolute;  
                    border-radius: 60%; 
                }
            }
            
        }
    }
    
    } 
}

//commodity
.commodity{
    color: #a5abb2;
    height: 63px;
    line-height: 63px;
    font-size: 13px;
    width: 1200px;
    @include center();
    .right{
        float: right;
        color: #495056;
        .car-error{
            padding: 0 6px 0 26px;
            border: 1px solid #e6e6e6;
            height: 26px;
            line-height: 26px;
            display: inline-block;
            margin-left: 20px;
            border-radius: 2px;
            cursor: pointer;
            position: relative;
            .icon-glass{
                display: inline-block;
                width: 16px;
                height: 15px;
                left: 6px;
                top: 5px;
                background: url("http://cli-sta.guazistatic.com/c2c_web/icon-detail.3f29e84299556197e522c67272cb3041.png") no-repeat;
                background-position: -94px -31px;
                position: absolute;
            }
        }
    }
    .top::after{
        content: " ";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }
    .bottom{
        position: absolute;
        margin-bottom: 31px;
        width: 1200px;
        height: 517px;
        @include center();
        .bottom-left{
            width: 600px;
            float: left;
            position: relative;
            .small{
                margin-bottom: 16px;
                position: relative;
                height: 400px;
                background: orange;
                text-align: center;
                img{
                    @include img()
                }
                i{
                    display: none;
                    width: 200px; 
                    height: 200px; 
                    background-color: white; 
                    opacity: 0.5; filter: (opacity=50);
                    position: absolute; 
                    left: 0px; 
                    top: 0px;
                }
            }
            .big{
                width: 400px;
                height: 400px;
                position: absolute;
                left: 700px;
                top: 30px;
                border: 1px solid $color;
                z-index: 100;
                overflow: hidden;
                display: none;
                img{
                    width: 1200px;
                    height: 800px;
                    position: absolute;
                }
            }
            .small-img{
                position: relative;
                overflow: hidden;
                height: 84px;
                .wrapper{
                    overflow: hidden;
                    div{
                        width: 3720px;
                        margin-left: 0px;
                        ul{
                            position: relative;
                            li{
                                margin: 0 3px;
                                padding: 0;
                                height: 80px;
                                float: left;
                                cursor: pointer;
                                position: relative;
                                span{
                                    border: 3px solid #22ac38;
                                    display: inline-block;
                                    width: 114px;
                                    height: 74px;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    display: none;
                                }
                            }
                        }
                    }
                }

            }
            .prev{
                background: url("http://cli-sta.guazistatic.com/c2c_web/icon-detail.3f29e84299556197e522c67272cb3041.png") no-repeat;
                display: inline-block;
                background-position: -309px -557px;
                width: 32px;
                height: 80px;
                position: absolute;
                left: -1px;
                top: 0;
                cursor: pointer;
            }
            .next{
                background: url("http://cli-sta.guazistatic.com/c2c_web/icon-detail.3f29e84299556197e522c67272cb3041.png") no-repeat;
                display: inline-block;
                background-position: -359px -557px;
                width: 32px;
                height: 80px;
                position: absolute;
                right: -1px;
                top: 0;
                cursor: pointer;
            }
            .big-img{
                width: 360px;
                height: 240px;
                border: 1px solid #22ac38;
                position: absolute;
                left: 0;
                bottom: 100px;
                display: none;
                img{
                    @include img()
                }
            }
        }
        .bottom-right{
            width: 562px;
            float: right;
            padding-left: 36px;
            height: 517px;
            h2{
                display: inline-block;
                color: #495056;
                font-size: 24px;
                font-weight: 400;
                line-height: 30px;
                padding-top: 7px;
                max-height: 60px;
                overflow: hidden;
                margin-bottom: 22px;
                span{
                    display: inline-block;
                    padding: 0 7px;
                    height: 24px;
                    line-height: 24px;  
                    color: #7a838d;
                    font-size: 14px;
                    text-align: center;
                    background-color: #f6f6f6;
                    border-radius: 2px;
                    margin-right: 3px;
                    vertical-align: top;
                    margin-top: 3px;
                }
            }
            .nav{
                margin-bottom: 15px;
                li::before{
                    content: "";
                    height: 34px;
                    width: 1px;
                    background-color: #e6e6e6;
                    position: absolute;
                    top: 9px;
                    left: 0;
                }
                li{
                    float: left;
                    text-align: center;
                    color: #a5abb2;
                    line-height: 24px;
                    font-size: 12px;
                    position: relative;
                    span{
                        display: block;
                        color: #495056;
                        font-size: 18px;
                        font-family: Microsoft Yahei;
                        padding-bottom: 3px;
                    }
                }
                li.one::before{
                   width: 0;
                }
                li.one{
                    width: 117px;
                    img{
                        height: 24px;
                        line-height: 24px;
                    }
                } 
                li.two{
                    width: 146px;
                }
                li.three{
                    width: 97px;
                }
                li.four{
                    width: 81px;
                }
            }
            ul::after{
               @include float();
            }
            .price-all{
                color: #303741;
                font-size: 12px;
                line-height: 18px;
            }
            .askPrice{
                margin-top: 9px;
                margin-right: 0;
                float: right;
                display: inline-block;
                height: 20px;
                line-height: 20px;
                border: 1px solid #fb997b;
                color: #fa5428;
                background: #fff;
                text-align: center;
                padding: 0 12px;
                border-radius: 12px;
            }
            .app{
                margin-top: 9px;
                float: right;
                margin-right: 12px;
                height: 22px;
                line-height: 22px;
                position: relative;
                .download{
                    background: #fff;
                    border-radius: 11px;
                    height: 22px;
                    line-height: 22px;
                    font-size: 12px;
                    color: #22ac38;
                    padding: 0 28px 0 12px;
                    display: inline-block;
                    position: relative;
                    border: 1px solid #22ac38;
                }
                .download::after{
                    content: "";
                    width: 12px;
                    height: 12px;
                    background: url("http://cli-sta.guazistatic.com/c2c_web/download-green.e3d561abe30b6dec95a7df1b7d2173b8.png") no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    top: 50%;
                    margin-top: -6px;
                    right: 12px;
                }
                .er-wei-ma{
                    position: absolute;
                    top: 32px;
                    left: 0;
                    z-index: 10;
                    background: #fff;
                    padding: 10px;
                    border: 1px solid #d8dde6;
                    border-radius: 8px;
                    display: none;
                    text-align: center;
                    span{
                        display: inline-block;
                        line-height: 17px;
                        font-size: 12px;
                        color: #5f6670;
                        text-align: center;
                        margin-top: 4px;
                    }
                }
            }
            .price-main{
                overflow: hidden;
                span{
                    font-size: 30px;
                    color: #303741;
                    line-height: 40px;
                    font-weight: 500;
                    float: left;
                }
            }
            .server{
                background: #fffdf9;
                margin-bottom: 20px;
                padding: 25.5px 27px 10.5px 25px;
                border: 1px solid #fcf2d5;
                .server-left{
                    font-size: 14px;
                    color: #495056;
                    line-height: 14px;
                    padding-bottom: 27px;
                    .i1{
                        line-height: 14px;
                        display: inline-block;
                        padding-right: 8px;
                        color: #495056;
                        font-size: 14px;
                    }
                    a{
                        color: #495056;
                        float: right;
                        line-height: 14px;
                        i{
                            display: inline-block;
                            background: url("http://cli-sta.guazistatic.com/c2c_web/icon-detail.3f29e84299556197e522c67272cb3041.png") no-repeat;
                            background-position: -394px -11px;
                            width: 7px;
                            height: 11px;
                            margin-left: 5px;
                        }
                    }
                }
                .server-left::after{
                    @include float()
                }
                .server-right{
                    li{
                        width: 25%;
                        float: left;
                        line-height: 14px;
                        margin-bottom: 15px;
                        font-size: 13px;
                        color: #495056;
                        span{
                            white-space: nowrap;
                            width: 107px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: inline-block;
                            float: left;
                        }
                   }
                 
                }
            }
            .btn{
                width: 562px;
                .a1{
                    background-color: #fd6c34;
                    position: relative;
                    border-radius: 2px;
                    text-align: center;
                    font-size: 20px;
                    display: inline-block;
                    width: 170px;
                    height: 48px;
                    line-height: 48px;
                    vertical-align: top;
                    color: #fff;
                    margin-right: 20px;
                }
                .a2{
                    @extend .a1;
                    background-color: #2abd53;
                    width: 170px;
                }
                .a3{
                    width: 170px;
                    height: 46px;
                    line-height: 46px;
                    border: 1px solid #2abd53;
                    background-color: #f6fcf7;
                    color: #2abd53;
                    margin-right: 0;
                    border-radius: 2px;
                    text-align: center;
                    display: inline-block;
                    vertical-align: top;
                    font-size: 20px;
                }
            }
        }
        .a2-show{
            display:none;
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 2201;
            margin: -275px 0 0 -400px;
            width: 800px;
            height: 550px;
            box-sizing: border-box;
            background: #fff;
            border: 1px solid #a8abae;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
            border-radius: 8px;
            -webkit-border-radius: 8px;
            .close{
                position: absolute;
                top: -8px;
                right: -8px;
                width: 35px;
                height: 35px;
                cursor: pointer;
                background: url("http://cli-sta.guazistatic.com/c2c_web/Close.46949fb07ade56e60b08cfa031a79609.png") no-repeat 50%;
                background-size: 100% 100%;
            }
            .top-box{
                height: 485px;
                margin: 0 auto;
                background: #fff;
                .car-message{
                    height: 40px;
                    padding: 28px 138px 8px;
                    border-bottom: 1px solid #ebebeb;
                    color: #999;
                    font-size: 14px;
                    .name{
                        float: left;
                        width: 65%;
                        height: 36px;
                        line-height: 36px;
                        i{
                            color: #495056;
                            margin-right: 10px;
                            font-size: 24px;
                        }
                        
                    }
                    .price{
                        float: right;
                        width: 35%;
                        text-align: right;
                        font-size: 24px;
                        color: #666;
                        line-height: 41px;
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
            .bid{
                width: 462px;
                height: 58px;
                padding: 14px 166px 20px;
                position: relative;
                p{
                    width: 230px;
                    line-height: 18px;
                    font-size: 14px;
                    color: #666;
                    text-align: center; 
                    span{
                        line-height: 40px;
                        color: #22ac38;
                        font-size: 30px;
                    }
                    em{
                        @extend span
                    }
                }
                .p1{
                    float: left;
                }
                .p2{
                    float: right;
                    i{
                        position: absolute;
                        top: 30px;
                        left: 50%;
                        display: block;
                        width: 1px;
                        height: 28px;
                        background: #eaeaea;
                    }
                }
            }
            .scroll{
                p{
                    color: rgb(73, 80, 86);
                    font-size: 14px;
                    line-height: 34px;
                    text-align: center;
                }
                .price-sel{
                    width: 500px;
                    height: 5px;
                    margin: 45px auto 22px;
                    line-height: 0;
                    font-size: 0;
                    background: #ddd;
                    border-radius: 2px;
                    position: relative;
                    i{  
                        left:478px;
                        position: absolute;
                        top: -15px;
                        z-index: 100;
                        width: 34px;
                        height: 34px;
                        box-shadow: 0 5px 10px #ddd;
                        cursor: pointer;
                        border: 1px solid #dfdfdf;
                        border-radius: 50%;
                        background: url("http://cli-sta.guazistatic.com/c2c_web/icon-kj.afdc9ba90cd4c7a598dd78a74a0a0659.png") no-repeat 0 -20px #fff;
                    }
                    .price-pro{
                        left:300px;
                        position: absolute;
                        top: 0;
                        width: 217px;
                        height: 5px;
                        background: #22ac38;
                        border-radius: 2px;
                        div{
                            position: absolute;
                            top: -34px;
                            left: 50%;
                            width: 120px;
                            height: 34px;
                            margin-left: -60px;
                            line-height: 34px;
                            text-align: center;
                            font-size: 14px;
                            color: #22ac38;
                        }
                    }
                   
                }
                .price-scale{
                    position: relative;
                    width: 500px;
                    height: 62px;
                    margin: 0 auto;
                    ul li{
                        position: absolute;
                        top: 0;
                        width: 83px;
                        line-height: 38px;
                        height: 38px;
                        font-size: 14px;
                        color: #a5abb2;
                    }
                    li:nth-child(1){
                        left: -20px;
                    }
                    li:nth-child(2){
                        left: 58px;
                    }
                    li:nth-child(3){
                        left: 141px;
                    }
                    li:nth-child(4){
                        left: 224px;
                    }
                    li:nth-child(5){
                        left: 308px;
                    }
                    li:nth-child(6){
                        left: 391px;
                    }
                    li:nth-child(7){
                        left: 465px;
                    }
                }
            }
            .custom{
                height: 78px;
                width: 300px;
                margin: 0 auto;
                text-align: center;
                position: relative;
                display: block;
                p{
                    width: 83px;
                    text-align: left;
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    color: #999;
                    float: left;
                }
                input{
                    float: right;
                    width: 195px;
                    height: 18px;
                    line-height: 18px;
                    padding: 10px;
                    border: 1px solid #ddd;
                    font-size: 14px;
                    color: #333;
                    outline: none;
                }
                em{
                    position: absolute;
                    top: 1px;
                    right: 1px;
                    display: block;
                    width: 38px;
                    height: 38px;
                    line-height: 38px;
                    text-align: center;
                    font-size: 14px;
                    color: #666;
                    background: #fff;
                }
            }
            .affirm{
                display: block;
                width: 300px;
                height: 40px;
                background: #22ac38;
                color: #fff;
                font-size: 14px;
                border: none;
                font-family: Microsoft Yahei;
                margin: 0 auto;
            }
        }
        .a2-show#active{
            display: block;
        }
    }
}
